<div class='account'>


    <div class='header'>Welcome, <span class='userName'></span></div>

    <small>
        <div class="alert alert-success">
            <button type="button" class="close" data-dismiss="alert">×</button>
            Welcome to your new content syndication account!
            <p>
                This page is always available by clicking on your name in the top right corner of the screen. From here you can: 
                <ul>
                    <li>See the content that you've selected for syndication</li>
                    <li>Collaborate with other members in your organization</li>
                    <li>Manage your account information</li>
                </ul>
            </p>
        </div>
    </small>

    <ul class="nav nav-tabs">
        <li class="active">
            <a href="#" class='myContent'>My Content</a>
        </li>
        <li><a href="#" class='myOrganizations'>My Organizations</a></li>
        <li><a href="#" class='myAccount'>My Account</a></li>
    </ul>

    <div class='contentDetail'>

        <small>        
            <ul class="nav nav-pills">
                <li>Showing content selected for: <span class="currentSyndList"></span></li>
            </ul>
        </small>

        <p class="noContent">
            No syndication content has been selected for this Organization and Domain.
        </p>
        <small>
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">×</button>
                <p>
                This tab will show you the content that you've selected for syndication within the selected organization and domain. If you are a member of multiple 
                organizations, you'll be able to choose the organization and domain that you want to work with.
                 </p>
                 <p>
                You've not yet selected any content for syndication. Once you're logged in, syndication media is displayed with a cart icon. Click this icon once to add
                the media to your list. Click it again to remove the media from your list.
                </p>
                <div class='text-center'>
                    <img src="Images/CartDemo.png" />
                    <i class='icon-play'></i>
                    <img src="Images/CartDemo1.png" />
                </div>
            </div>
        </small>
        <div class='selectedMedia'></div>
    </div>
    
    <div class='orgDetail'>

            <div class='orgNew'></div>    
            <div class='orgTable'>
            <div class='pull-right'>
                <a href='#' class='btn btn-small btn-default btnAddOrg hide'>Add an Organization</a>        
            </div>
    
            <table class="table">
                <thead>
                  <tr>            
                    <th>Name</th>
                    <th>Domains</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>            
                    <td class="orgName"></td>
                    <td class="orgDomains">
                    </td>
                    <td class="hide">
                        <i class='icon-user'></i>&nbsp;
                        <i class='icon-pencil'></i>&nbsp;
                        <i class='icon-trash'></i>&nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
            <div class='orgUsers'></div>        
        
    </div>
    <div class='contactDetail'>
        <div class='pull-right hide'>
            <a href='#' class='btn btn-small btn-default'>edit</a>        
        </div>
        
        <div class="row">
            <div class="span3 text-right">First Name</div>
            <div class='span3 firstName'>Text</div>
        </div>
        <div class="row">
            <div class="span3 text-right">MI</div>
            <div class='span3 middleInit'>Text</div>
        </div>
        <div class="row">
            <div class="span3 text-right">Last Name</div>
            <div class='span3 lastName'>Text</div>
        </div>

        <div class="row">
            <div class="span3 text-right">Email Address</div>
            <div class='span3 emailAddress'>testin</div>
        </div>
        </div>
    </div>

