<div style='margin:-10px 20px 20px 20px;' class='embedForm csEcard form-horizontal'>
        
    <div class='csEcard_requiredNote' style='float:right;'>
        <span class='csEcard_warning'>*</span> Required field
    </div>
    <div class='subheader'>
        eCard Options
    </div>
    
<!--    <div class="control-group">
        <label class="control-label" for="smtpServerName">SMTP Server Address</label>
        <div class="controls">
            <input type="text" id='smtpServerName' class='txtSMTP span4' placeholder='SMTP Server'/>
            <span class='csEcard_warning'>*</span>
            <br />
            <span class="csEcard_msgWarning">This information will be stored with your user account and will not be visible to users of your site.</span>
        </div>
    </div>-->

    <div class="control-group">
        <label class="control-label" for="entryUrl">Entry Navigation</label>
        <div class="controls">
            <input type="text" id='entryUrl' class='span5' placeholder='Entry URL'/>
            <br />
            <span class="csEcard_msgWarning">What URL will your users be coming from?</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="entryText">&nbsp;</label>
        <div class="controls">
            <input type="text" id='entryText' class='span5' placeholder='Return Link Text'/>
            <br />
            <span class="csEcard_msgWarning">Text for return link</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="exitUrl">Exit Navigation</label>
        <div class="controls">
            <input type="text" id='exitUrl' class='span5' placeholder='Exit URL'/>
            <br />
            <span class="csEcard_msgWarning">What URL should your users be directed to after sending this card?</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="exitText">&nbsp;</label>
        <div class="controls">
            <input type="text" id='exitText' class='span5' placeholder='Exit Link Text'/>
            <br />
            <span class="csEcard_msgWarning">Text for completion link</span>
        </div>
    </div>

    <div class="control-group">
        <label class="control-label" for="jQueryRef">Include jQuery reference</label>
        <div class="controls">            
            <label class="checkbox">
                <input type="checkbox" id="jQueryRef" value="true" checked>                
            </label>
        </div>
    </div>

    <div class="control-group jsEmbedBlock">
        
        <div class='subheader'>
            Embed Code
        </div>
        Copy the following code block into your site to syndicate this eCard.
        <textarea rows="-1" class="codeBlock" readonly></textarea>
        
    </div>
</div>
