
<div class="mediaListItem clearfix">
	
	<table width="100%">
		<tr>
			<td width="20%">
				<div class="mediaListThumb"></div>
			</td>
			<td width="60%">
				<div class='mediaListDesc'>
					<div class="mediaListDesc-col">
						<div class="title"></div>
						<div class="description"></div>
						<div class="lastupdated">Last updated: </div>
					</div>
				</div>
			</td>
			<td width="20%" style="text-align:center;">
				<div class="mediaList-getcode">
					<a href="javascript:void(0);" class="btn btn-primary">Get Embed Code</a>
				</div>
		
				<div class="mediaList-action">
					<a href="javascript:void(0);"><i class="fa fa-times btn-delete"></i> Remove</a>
				</div>
			</td>
		</tr>
	</table>

</div>
