
<div class='header'>Card Title</div>                              

<div class="container-fluid detail">
    <div class="row-fluid">
        <div class="span3">
            <p>
            <div class='ratingBlock' ItemUrl='bobfred.html' RatingCount='2' AverageRating='2'></div>                        
            </p>
            <p><small><a href='#'><i class="icon-heart"></i> Add to Favorites</a></small></p> 
        </div>
        <div class="span9">
            <p class='description'></p>                        
            <p> 
                <small>
                    <div>URL: <span class='url'></span></div>
                    <div>Topics: <span class='topicList'></span></div>
                    <div>Publication Date: <span class='pubDate'></span></div>
                    <div>Last Updated: <span class='lastUpdated'></span></div>
                    <div>Attribution: <span class='attribution'></span></div>
                </small>
            </p>                                     
        </div>
    </div>
</div>


