<div>



    <div class='userTable'>

            <div class='pull-right'>
                <a href='#' class='btn btn-small btn-default btnInviteUser'>Invite a User</a>        
                <a href='#' class='btn btn-small btn-default btnAddUser'>Add a User</a>        
                <a href='#' class='btn btn-small btn-default btnReturn'>Return to Organizations</a>
            </div>
    
            <table class="table">
                <thead>
                  <tr>            
                    <th>Name</th>
                    <th>Email</th>
                    <th>Primary Contact</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>            
                    <td>User M. Userstien</td>
                    <td>
                        userstein@gmail.com
                    </td>
                    <td></td>
                    <td>                        
                        <i class='icon-pencil'></i>&nbsp;
                        <i class='icon-trash'></i>&nbsp;
                    </td>
                  </tr>
                  <tr>            
                    <td>User K. Userwalski</td>
                    <td>
                        userwalski@aol.com
                    </td>
                    <td></td>
                    <td>                        
                        <i class='icon-pencil'></i>&nbsp;
                        <i class='icon-trash'></i>&nbsp;
                    </td>
                  </tr>
                  <tr>
                    <td>User D. Usermeister</td>
                    <td>
                        dusermeister@windstream.net
                    </td>
                    <td class='text-center'>
                        <i class='icon-ok'/>
                    </td>
                    <td>
                        <i class='icon-pencil'></i>&nbsp;
                        <i class='icon-trash'></i>&nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
    </div>


</div>
