<p>
    Listen to/view CDC podcasts on your computer or download them for reliable health
    and safety information when and where you want it. New to podcasting? See <a href='#'
        class='podcastHelp'>Podcast Help</a> and <a href='#' class='rssHelp'>RSS Help</a>.
</p>
<p>
    The following formats are available for this Podcast Series:
</p>
<ul class='formats'>
</ul>

<div style='display:none;'>
    <div class='podcastHelpContent' title='Podcast Help'>
        <small>
            <h3>
                What is podcasting?</h3>
            <p>
                It's a way to get audio and video files over the Internet through special web pages
                designed to maintain a list of available items and promote new content. These special
                syndication lists are called RSS Feeds and will usually be identified by an orange
                XML
                <img border="0" alt="XML language icon" src="http://www2c.cdc.gov/podcasts/images/xml.gif"
                    width="36" height="14">
                or RSS
                <img border="0" alt="XML language icon" src="http://www2c.cdc.gov/podcasts/images/rss-icon.gif"
                    width="36" height="14">
                icon for lists of web pages, or a similar icon with podcast added to it
                <img border="0" alt="Video Podcast Icon" src="http://www2c.cdc.gov/podcasts/images/video-podcast.gif"
                    width="101" height="15">
                for lists of audio and video files. You may listen or view these files on your desktop,
                or download them onto a mobile device like an iPod or other portable player.</p>
            <br>
            <h3>
                All podcasts at CDC are free.</h3>
            <br>
            <h3>
                How do I start?</h3>
            <p>
                All you need is to download and install appropriate software like iTunes, iPodder,
                Juice, or a number of others available on the Internet, that will subscribe to the
                podcast list and stay updated, show you available content and even automaticall
                retrieve the most recent files. These programs can also play the file on your computer.</p>
            <h3>
                How do I subscribe to CDC podcasts?</h3>
            <p>
                Simple. For CDC podcasts, click the subscribe link by the item you are interested
                in and you will be taken to a page that has convenient buttons to add this subscription
                to your software. This page will also show you the web address of the list page
                (RSS Feed) that you may copy and paste into the appropriate place in your software
                to manually subscribe.</p>
            <h3>
                Sometimes I see a lot of strange code when I click an RSS link. What is that?</h3>
            <p>
                The actual web page for the RSS Feed is really special code for programs used for
                subscribing to podcasts. Web browsers do not like it and just show you the code.
                When that happens, you can copy the address from the address bar in your browser
                and paste it into the appropriate place in your software to manually subscribe.</p>
            <br>
        </small>
    </div>
</div>

<div style='display:none;'>
    <div class='rssHelpContent' title='RSS Help'>
        <small>

            <h3>
                What Is RSS?</h3>
            <p>
                RSS stands for Really Simple Syndication. It's an easy way for you to keep up with
                news and information that's important to you, and helps you avoid the conventional
                methods of browsing or searching for information on websites. Now the content you
                want can be delivered directly to you without cluttering your inbox with e-mail
                messages. This content is called a "feed."</p>
            <p>
                RSS is written in the Internet coding language known as XML (eXtensible Markup Language),
                which is why you see RSS buttons commonly labeled with this icon:<strong> </strong>
                <img border="0" alt="XML language icon" src="http://www2c.cdc.gov/podcasts/images/xml.gif"
                    width="36" height="14"></p>
            <h3>
                What Is an RSS Reader?</h3>
            <p>
                An RSS reader is a small software program that collects and displays RSS feeds.
                It allows you to scan headlines from a number of news sources in a central location.</p>
            <h3>
                Where Can I Get an RSS Reader?</h3>
            <p>
                There are many RSS news readers (also called <em>aggregators</em>) available for
                download from the Internet. CDC does not endorse any particular reader. Some browsers
                such as the current versions of Firefox and Safari as well as some portals like
                <em>Yahoo</em> offer RSS services for their subscribers.&nbsp; Here is a listing
                of some <a href="http://dmoz.org/Reference/Libraries/Library_and_Information_Science/Technical_Services/Cataloguing/Metadata/RDF/Applications/RSS/News_Readers/">
                    feed readers and news aggregators</a>.* &nbsp;Some are free to download and
                others are available for purchase.</p>
            <h3>
                How Do I Use RSS Feeds?</h3>
            <p>
                The first step is to choose an RSS reader. Each reader has a slightly different
                way of adding a new feed, also called a "channel." Follow the directions for your
                reader but, in most cases, here's how it works:</p>
            <ul>
                <li>Click on the link or more likely, the small XML button near the feed you want. Once
                    you do so, you will see a page displaying XML code.<br>
                    Example: <a href="http://www.cdc.gov/media/rss.xml">Office of Communication Media Relations</a>
                    &nbsp;<a href="http://www.cdc.gov/media/rss.xml"><img border="0" alt="XML language icon"
                        src="http://www2c.cdc.gov/podcasts/images/xml.gif" width="36" height="14"></a></li>
                <li>From your web browser's address bar, copy the URL (web address). For example, the
                    URL you would copy for the Media Relations news is: <a href="http://www.cdc.gov/media/rss.xml">
                        http://www.cdc.gov/media/rss.xml</a>. &nbsp;</li>
                <li>Paste that URL into the "<em>Add New Channel"</em> or “<em>Add New Feed”</em> section
                    of the reader. The RSS feed will start to display and regularly update the headlines
                    for you.</li>
            </ul>
            <h3>
                What other RSS feeds are available in government?</h3>
            <ul type="disc">
                <li><a href="http://www.firstgov.gov/Topics/Reference_Shelf/Libraries/RSS_Library.shtml">
                    Other Government RSS Feeds</a></li>
                <li><a href="http://www.firstgov.gov/Topics/Reference_Shelf/Libraries/Podcasts.shtml">
                    Other Government Podcasts</a></li>
            </ul>
        </small>
    </div>
</div>
